@import"../vars/variables";
@import"../vars/extend";
@import"../vars/mixin";
@import"../vars/mq";
 /*productos*/ 
 html {
    position: relative;
    min-height: 100%;
  }
body{
    background:$color-principal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 100px;
}
 .contenedor1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }

 .imgp1{
    width: 250px;
    margin:0px 5px 5px;
    border-radius: 15px;
    transition: transform .2sg;
}
.imgp1:hover{
   transform:scale(1.2);
}
.card1{

    text-align: center;
    box-shadow: rgba(0 ,0 ,0 ,0.35) 0px 5px 15px;
    border-radius: 15px;
}

.card1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.card1 h2:hover{
    scale:1.2;
}

footer h3{
    margin: .0%;
    padding: 5%;
   
}